.moveUp-enter {
  position: absolute;

  transition-duration: .3s;
  transition-delay: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,100%,0);
  z-index: 10000;
  opacity: 0.01;
}

.moveUp-enter.moveUp-enter-active {
  transform: translate3d(0,0,0);
  opacity: 1;
}

.moveUp-leave {
  position: absolute;

  transition-duration: .3s;
  transition-delay: .5s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  opacity: 1;
}

.moveUp-leave.moveUp-leave-active {
  transform: translate3d(0,-15%,0);
  opacity: 0.01;
}

.moveUp-appear {
  transition-duration: .3s;
  transition-delay: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,100%,0);
  z-index: 10000;
  opacity: 0.01;
}

.moveUp-appear.moveUp-appear-active {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.moveDown-enter {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,-100%,0);
  z-index: 10000;
}

.moveDown-enter.moveDown-enter-active {
  transform: translate3d(0,0,0);
}

.moveDown-leave {
  position: absolute;

  transition-duration: .3s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  transform: translate3d(0,0,0);
  opacity: 1;
}

.moveDown-leave.moveDown-leave-active {
  transform: translate3d(0,15%,0);
  opacity: 0.3;
}

.fader-enter {
  opacity: 0.01;
}

.fader-enter.fader-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.fader-leave {
  opacity: 1;
}

.fader-leave.fader-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fader-appear {
  opacity: 0.01;
}

.fader-appear.fader-appear-active {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}
